# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Categories Data Science Tool
- List some important Open Source Tools for Data Science
- List some important Commercial Tools for Data Science
- List some important Cloud based Tools for Data Science
- Learn Basics of Jupyter Notebook, R and Git/GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow
4. Scipy

|Data Science Tools        |
----------------------------
|Jupyter Notebook          |
|R Studio                  |
|Spyder                    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
Minutes=200
Hours=200/60
print()

3.3333333333333335

## Author
Hamza